<!DOCTYPE html>
<html>
<head>
    <title>Dashboard for {{ username }} </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            /* background: linear-gradient(to bottom, #000012,#000012, #337aff, #323232);  */
            background-color: #fbfbfb;
            align-items: center; 
            justify-content: center;
            color: #000; 
        }
    </style>
    <script>
        function showSpinner() {
            document.getElementById('loading-spinner').style.display = 'block';
        }
    </script>
</head>
<body>
    <div style="flex-direction: column; width: 100%;">
        <div class="dashboard-header">
            <h1 class="subhead" style="font-size: 40px; margin: 0px; display: inline-block; font-weight: 100;">{{ username.capitalize() }} </h1>
            <h1 style="color: #fbfbfb; font-size: 40px; margin: 0px; display: inline-block; font-weight: 100;">&nbspAdmin Dashboard</h1>
            <form action="{{ url_for('logout') }}" method="post" style="float: right;">
                <button type="submit" class="logout-button">log out</button>
            </form>
        </div>
        <div style="text-align: left; margin: 40px">
            
            <p style="font-size: 28px; margin-bottom: 10px; font-weight: 100;">{{ date }}</p>
            <h2>Employees</h2>

                <form action="{{ url_for('add_employee') }}" method="post" enctype="multipart/form-data" class="box-add-employee" onsubmit="showSpinner()">
                    <p style="margin: 0px 0px 10px 0px; color: #000; font-weight: bold;">Add Employee PDF Resume here</p>
                    <input type="file" name="resume" accept=".pdf">
                    <button class="button-add" type="submit">+ Add</button>
                    <div id="loading-spinner" style="display: none; margin: 30px 30px 30px 60px">
                        <div class="ring" style="width: 100px; height: 100px; text-align: center;">
                            <div class='ring1' style="border:1px solid #e91c97; border-radius: 25% ;box-shadow: 0 0 5px 0.05px #e91c97 "></div>
                            <div class='ring2' style="border:1px solid #595959;  border-radius: 25% ;box-shadow: 0 0 5px 0.05px #595959"></div>
                            <div class='ring3' style="border:1px solid #e91c97;  border-radius: 25% ;box-shadow: 0 0 5px 0.05px #e91c97"></div>
                            <div class='ring4' style="border:1px solid #595959;  border-radius: 25% ; box-shadow: 0 0 5px 0.05px #595959"></div>
                            <div class='ring5' style="border:1px solid #e91c97;  border-radius: 25% ; box-shadow: 0 0 5px 0.05px #e91c97"></div>
                            <p style="font-size: 20px; line-height: 1.1; color:#000; margin-bottom: 5px">AI is analyzing resume...</p>
                            <p style="font-size: 12px; line-height: 1.1; color:#595959; margin-bottom: 5px">This may take up to 30 sec.</p>

                        </div>
                    </div>
                </form>
            
            
            
            <ul class="dashboard-box">
                {% for employee in employees %}
                <div>  
                    <h3 style="font-size: 24px; margin: 0; margin-bottom: 10px; color:#000">{{ employee.name }}</h3>
                    <li>Summary : {{ employee.summary }}</li>
                    <li>Skills : {{ employee.skills }}</li>
                    <li>Hobbies : {{ employee.hobbies }}</li>
                    <li>Suitable Jobs : {{ employee.jobs }}</li>
                    <form action="{{ url_for('delete_employee', employee_id=employee.id) }}" method="post">
                        <button class="button-delete-employee" type="submit">Delete employee</button>
                    </form>
                </div>  
                {% endfor %}
            </ul>
            <h2>Projects</h2>
            <div class="box-add-project" style="margin-bottom: 20px;">
                <form action="{{ url_for('add_project') }}" method="post" enctype="multipart/form-data">
                    <p style="color: #000; font-weight: bold; margin-bottom: 10px;">Add Project Details here</p>
                    <div style="display: flex; align-items: center; padding: 10px;">
                        <input type="text" name="title" placeholder="Project Title" required style="flex-grow: 1; margin-right: 10px; padding: 10px;">
                        <textarea name="description" placeholder="Project Description" required style="flex-grow: 2; margin-right: 10px; padding: 20px;"></textarea>
                        <button class="button-add" type="submit">+ Add</button>
                    </div>
                </form>
            </div>
            

            <ul class="dashboard-box">
                {% for project in projects %}
                <div class="project-entry">  
                    <h3>{{ project.title }}</h3>
                    <p>{{ project.description }}</p>
                    <form action="{{ url_for('delete_project', project_id=project.id) }}" method="post">
                        <button class="button-delete-employee" type="submit">Delete Project</button>
                    </form>
                </div>  
                {% endfor %}
            </ul>
            
        </div>
    </div>
    
    
</body>
</html>

