<!DOCTYPE html>
<html>
<head>
    <title>Padlock Centered</title>
    <meta charset="UTF-8">
    <meta name="description" content="SkillSyncer">
    <meta name="author" content="SkillSyncer">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta name = "viewport" content ="initial-scale=1, width=device-width">
</head>
<body>
    <div id="centered" style="max-width: 600px;">
        <h1 id="name" class="subhead">Encrypted LLM Training</h1>
        <p style="font-size: 1.1em; color: #000;">All the identity data is securely encrypted using AES 256 Standard Encryption so that no one gets your company or employees' identity revealed.</p>
        <div id="encrypt-container">
            <!-- Left Lines -->
            <div class="dataLine" id="leftLine1"></div>
            <div class="flowingData" data-line="leftLine1"></div>
            <div class="flowingData" data-line="leftLine1"></div>
            <div class="flowingData" data-line="leftLine1"></div>
            <div class="flowingData" data-line="leftLine1"></div>

            <div class="dataLine" id="leftLine2"></div>
            <div class="flowingData" data-line="leftLine2"></div>
            <div class="flowingData" data-line="leftLine2"></div>
            <div class="flowingData" data-line="leftLine2"></div>
            <div class="flowingData" data-line="leftLine2"></div>

            <!-- Right Line -->
            <div class="dataLine" id="rightLine"></div>
            <div class="flowingData" data-line="rightLine"></div>
            <div class="flowingData" data-line="rightLine"></div>
            <div class="flowingData" data-line="rightLine"></div>
            <div class="flowingData" data-line="rightLine"></div>

            <!-- Padlock -->
            <!-- <img src="lock-white.svg" alt="Padlock" id="padlock"/> -->
            <img src="{{ url_for('static', filename='images/lock.svg') }}" alt="Padlock" id="padlock"/>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
