<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body style="background-color: #000012 ; padding-top: 150px">
    <div class="centered">

        <div>
            <h2 class="subhead">Sign Up</h1>
            <div style="background-color: #323232; padding: 20px; border-radius: 10px; margin-top: 30px">
                <form action="{{ url_for('signup') }}" method="post" class="input_form" style="margin: 0px;">
                    <input type="text" name="username" placeholder="Username" required style="margin: 10px; padding: 15px ">
                    <input type="email" name="email" placeholder="Email" required style="margin: 10px; padding: 15px ">
                    <input type="password" name="password" placeholder="Password" required style="margin: 10px; padding: 15px ">
                    <button type="submit" class="primary" style="margin: 10px; padding: 15px ">Sign Up</button>
                </form>
                <p style="color:white">Already have an account? <a href="{{ url_for('login') }}" id="link-blue" >Log In</a></p>
                <a href="{{ url_for('index') }}" >cancel</a>    
            </div>       
        </div>
        
    </div>
</body>
</html>